

<%- include ('./indexheader.ejs') %>



			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
		
			
			
			<!-- =========================== My All Orders =================================== -->
			<section class="gray">
				<div class="container">
					<div class="row">
					
						<div class="col-lg-3 col-md-3">
							<nav class="dashboard-nav mb-10 mb-md-0">
							  <div class="list-group list-group-sm list-group-strong list-group-flush-x">
								<a class="list-group-item list-group-item-action dropright-toggle active" href="/myorder">
								  My Order
								</a>
								
							
								<a class="list-group-item list-group-item-action dropright-toggle" href="/myaccount">
								  Account Settings
								</a>
								<a class="list-group-item list-group-item-action dropright-toggle" href="/address">
								  Address
								</a>
								<a class="list-group-item list-group-item-action dropright-toggle" href="/logout">
								  Logout
								</a>
							  </div>
							</nav>
						</div>
						
						<div class="col-lg-9 col-md-9">
						
							<!-- Order Items -->
							<div class="card style-2">
								<div class="card-header">
									<h4 class="mb-0">My Order</h4>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">Image</th>
                                                    <th>Product</th>
													<th scope="col">Schedule Time</th>
													<th scope="col">Price</th>

												

													<th scope="col">Status</th>
													<th scope="col">Action</th>
												</tr>
											</thead>
											<tbody>


                                                <% for(i=0;i<result[1].length;i++) { %>

												<tr>
													<th scope="row">
														<div class="tbl_cart_product">
															<div class="tbl_cart_product_thumb m-0">
																<img src="/images/<%=result[1][i].bookingimage%>" class="img-fluid" alt="">
															</div>
                                                            
														</div>
													</th>
                                                    <td class="text-capitalize"><%=result[1][i].bookingname%></td>
													<td><%=result[1][i].time%></td>
													
													<td>Rs. <%=result[1][i].price%></td>

													<% if(result[1][i].status=='cancel') { %>
														<td>Cancelled</td>


														<% } else { %> 
															<td class="text-capitalize"><%=result[1][i].status%></td>


															<% } %>

													<!-- <td><a href="/invoice?orderid=<%=result[1][i].orderid%>">
														<button class="btn btn-link">View Invoice</button>
													</a>
													</td> -->

													<td><a href="/invoice?orderid=<%=result[1][i].orderid%>" class="btn btn-sm btn-dark">View Details</a></td>


                                                    <% if(result[1][i].status == 'cancel'){ %>

                                                        <% } else { %>
                                                        
                                                            <td><a href="/myorder/cancel?orderid=<%=result[1][i].id%>" class="btn btn-sm btn-theme">Cancel</a></td>
                                                           
                                                         </tr>
                                                        
                                                        <% } %>
                                                        
                                                                                       
                                                        
                                                        <% } %>

											
											</tbody>
										</table>
									</div>
								</div>
							</div>
							
						</div>						
						
					</div>
				</div>
			</section>
			<!-- =========================== My All Orders =================================== -->

			
			<!-- ============================ Call To Action ================================== --> 
		
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
<%- include ('./indexfooter.ejs') %> 
	