<%- include ('./otherheader.ejs') %>

      <style>
        @font-face {
    font-family: 'Bellerose Light:1.0';
    src: url("./fonts/Bellerose.ttf");
    /* font-family: "Sofia Pro";
    src: url("./fonts/sofiapro-light.otf"); */
}
@font-face {
    font-family: "Sofia Pro";
    src: url("./fonts/sofiapro-light.otf");
}


#exampleModal .modal-dialog {
    max-width: 1140px;
    width: 100%;
    margin: 100px auto;
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: 0;
}
#exampleModal .modal-header {
    /* background: #4cbb6c; */
    background: #f3f3c7;
    border-radius: 0px;
}
#exampleModal-modal {
    color: #222222;
}
.modal-header {
    padding: 15px;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
}
.modal-header .close {
    margin-top: -2px;
}
#exampleModal .modal-title {
    font-weight: 600;
    /* color: #fff; */
    font-size: 18px;
    font-family: 'Bellerose Light:1.0';
    margin-left: 35%;
}
#exampleModal .modal-body {
    background: #fff;
    padding: 50px 30px;
}

.material-icons {
    font-family: "Material Icons";
    margin-right: 10px;
    font-weight: 400;
    font-style: normal;
    width:20px;
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}
#exampleModal .product-name {
    color: #222222;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Bellerose Light:1.0';
}
#exampleModal .divide-right {
    border-right: #acaaa6 1px solid;
}
#exampleModal .modal-body .divide-right span {
    display: inline-block;
    margin-bottom: 10px;
    font-family: "Sofia Pro";
    font-size: 14px;
}
#exampleModal .modal-body .divide-right p {
    color: #000;
    font-family: "Sofia Pro";
    font-size: 14px;
}

#exampleModal .cart-content {
    padding-left: 20px;
    font-family: "Sofia Pro";
    font-size: 14px;

}
#exampleModal .cart-products-count {
    font-size: 18px;
    font-family: "Sofia Pro";


}
#exampleModal .cart-content .btn {
    margin-bottom: 10px;
    padding: 15px;
    font-family: "Sofia Pro";
    font-size: 14px;

}
#exampleModal .cart-content button {
    margin-right: 5px;
}
.btn {
    position: relative;
    padding: 10px 35px;
    font-family: "Sofia Pro";
    border-radius: 0;
    text-transform: capitalize;
    border: none;
    -webkit-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
}
@media only screen and (max-width: 600px) {
    #exampleModal .modal-title {
        font-weight: 600;
        font-size: 18px;
        font-family: 'Bellerose Light:1.0';
        margin-left: 0%;
        text-align: center;
    }
    #exampleModal .divide-right {
        border-right: none;
    }
    #exampleModal .product-name {
        margin-top: 5%;
        color: #222222;
        font-size: 18px;
        margin-bottom: 10px;
        font-family: 'Bellerose Light:1.0';
    }
    #exampleModal .cart-content {
        padding-left: 0px;
        font-family: "Sofia Pro";
        font-size: 14px;
    
    }
   
  }



      </style>
        
<aside id="notifications">
  <div class="container">
    
    
    
      </div>
</aside>
      
      <section id="wrapper">
       
        <nav data-depth="2" class="breadcrumb hidden-sm-down">
  <div class="container container-large">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="/leffet.in/index.html">
                <span itemprop="name">Home</span>
              </a>
              <meta itemprop="position" content="1">
            </li>
          
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="#">
                <span itemprop="name"><%=result[1][0].name%></span>
              </a>
              <meta itemprop="position" content="2">
            </li>
          
              
    </ol>
  </div>
</nav>      
      

              
              <div class="container  ">
                
          <div class="row">
            

            
  <div id="content-wrapper" class="col-lg-12 col-xs-12">
    
      
<div class="spinner-bg">
<div class="spinner-lazy">
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>
 </div>
        
<section id="main" class="product-detail product-thumbs-bottom product-image-thumbs product-thumbs-bottom" itemscope itemtype="https://schema.org/Product">
  <meta itemprop="url" content="https://leffet.in/all-collections/85-210-lp001.html#/1-size-s"><div class="row"><div class="col-form_id-form_9367402777406408 col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12 col-sp-12">


  <section class="page-content" id="content" data-templateview="bottom" data-numberimage="5" data-numberimage1200="5" data-numberimage992="4" data-numberimage768="3" data-numberimage576="3" data-numberimage480="2" data-numberimage360="2" data-templatemodal="1" data-templatethumb="1" data-templatezoomtype="out" data-zoomposition="right" data-zoomwindowwidth="400" data-zoomwindowheight="400">
    
      <div class="images-container">
        
                  
            <div class="product-cover">
              
                <ul class="product-flags">
                                  </ul>
              
                              <img id="zoom_product" data-type-zoom="" class="js-qv-product-cover img-fluid" src="/images/<%=result[1][0].image%>" alt="" title="" itemprop="image">
                <div class="layer hidden-sm-down" data-toggle="modal" data-target="#product-modal">
                  <i class="material-icons zoom-in">&#xE8FF;</i>
                </div>
                          </div>
          

          
            <div id="thumb-gallery" class="product-thumb-images">
                                                <div class="thumb-container  active ">
                    <a href="javascript:void(0)" data-image="/images/<%=result[1][0].image%>" data-zoom-image="/images/<%=result[1][0].image%>"> 
                      <img
                        class="thumb js-thumb  selected "
                        data-image-medium-src="/images/<%=result[1][0].image%>"
                        data-image-large-src="/images/<%=result[1][0].image%>"
                        src="/images/<%=result[1][0].image%>"
                        alt=""
                        title=""
                        itemprop="image"
                      >
                    </a>
                  </div>
                                  <div class="thumb-container ">
                    <a href="javascript:void(0)" data-image="/images/<%=result[1][0].image1%>" data-zoom-image="/images/<%=result[1][0].image1%>"> 
                      <img
                        class="thumb js-thumb "
                        data-image-medium-src="/images/<%=result[1][0].image1%>"
                        data-image-large-src="/images/<%=result[1][0].image1%>"
                        src="/images/<%=result[1][0].image1%>"
                        alt=""
                        title=""
                        itemprop="image"
                      >
                    </a>
                  </div>
                                  <div class="thumb-container ">
                    <a href="javascript:void(0)" data-image="/images/<%=result[1][0].image2%>" data-zoom-image="/images/<%=result[1][0].image2%>"> 
                      <img
                        class="thumb js-thumb "
                        data-image-medium-src="/images/<%=result[1][0].image2%>"
                        data-image-large-src="/images/<%=result[1][0].image2%>"
                        src="/images/<%=result[1][0].image2%>"
                        alt=""
                        title=""
                        itemprop="image"
                      >
                    </a>
                  </div>
                                  <div class="thumb-container ">
                    <a href="javascript:void(0)" data-image="/images/<%=result[1][0].image3%>" data-zoom-image="/images/<%=result[1][0].image3%>"> 
                      <img
                        class="thumb js-thumb "
                        data-image-medium-src="/images/<%=result[1][0].image3%>"
                        data-image-large-src="/images/<%=result[1][0].image3%>"
                        src="/images/<%=result[1][0].image3%>"
                        alt=""
                        title=""
                        itemprop="image"
                      >
                    </a>
                  </div>
                                          </div>
            
                          <div class="arrows-product-fake slick-arrows">
                <button class="slick-prev slick-arrow" aria-label="Previous" type="button" >Previous</button>
                <button class="slick-next slick-arrow" aria-label="Next" type="button">Next</button>
              </div>
                      
                
        
      </div>
    
  </section>

<input type="hidden" class="msg" value="<%=result[2][0].id%>">

  <div class="modal fade js-product-images-modal leo-product-modal" id="product-modal" data-thumbnails=".product-images-85">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
                <figure>
          <img class="js-modal-product-cover product-cover-modal" width="2400" src="/images/<%=result[1][0].image%>" alt="" title="" itemprop="image">
          <figcaption class="image-caption">
            
              <div id="product-description-short" itemprop="description">
                <div id="result"></div>
            </div>
            
          </figcaption>
        </figure>
        <aside id="thumbnails" class="thumbnails text-sm-center">
          
            <div class="product-images product-images-85">
                              <div class="thumb-container">
                  <img data-image-large-src="/images/<%=result[1][0].image%>" class="thumb img-fluid js-modal-thumb selected " src="/images/<%=result[1][0].image%>" alt="" title="" width="239" itemprop="image">
                </div>
                              <div class="thumb-container">
                  <img data-image-large-src="/images/<%=result[1][0].image1%>" class="thumb img-fluid js-modal-thumb" src="/images/<%=result[1][0].image1%>" alt="" title="" width="239" itemprop="image">
                </div>
                              <div class="thumb-container">
                  <img data-image-large-src="/images/<%=result[1][0].image2%>" class="thumb img-fluid js-modal-thumb" src="/images/<%=result[1][0].image2%>" alt="" title="" width="239" itemprop="image">
                </div>
                              <div class="thumb-container">
                  <img data-image-large-src="/images/<%=result[1][0].image3%>" class="thumb img-fluid js-modal-thumb" src="/images/<%=result[1][0].image3%>" alt="" title="" width="239" itemprop="image">
                </div>
                          </div>
            
        </aside>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- Measurement form modal -->
<div id="measurement-modal" style="display:none;" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form id="add-measurement">
                    <section class="form-fields">
                    <div class="form-group">
                                                <input class="measurement-params" type="hidden" name="id_category" value="2">
                    </div>
                    <div id="modal-measurement-details">
                        <!-- Form render here  -->
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
                            </div><div class="col-form_id-form_15874367062488778 col-md-6 col-lg-6 col-xl-6 col-sm-12 col-xs-12 col-sp-12">

	
		<h1 class="h1 product-detail-name" itemprop="name"><%=result[1][0].name%></h1>
	


	<div class="product-additional-info"> 
  
      <div class="social-sharing">
      <span class="share-this hidden-xs-up"><i class="fa fa-share-alt"></i>Share this:</span>
      <ul>
                  <li class="facebook icon-gray">
            <a href="<%=result[1][0].fb_link%>" class="text-hide" title="Share" target="_blank">
            <span>Share</span>
            <i class="facebook icon-gray"></i>
            </a>
          </li>
                  <li class="twitter icon-gray">
            <a href="<%=result[1][0].twitter_link%>" class="text-hide" title="Tweet" target="_blank">
            <span>Tweet</span>
            <i class="twitter icon-gray"></i>
            </a>
          </li>
                  <li class="pinterest icon-gray">
            <a href="<%=result[1][0].pintrest_link%>" class="text-hide" title="Pinterest" target="_blank">
            <span>Pinterest</span>
            <i class="pinterest icon-gray"></i>
            </a>
          </li>
              </ul>
    </div>
  

   
      
            <div class="modal fade" id="my-size-chart-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="text-align:left;">
            <div class="modal-header">
                <button type="button" class="close" id="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1>Size Chart</h1>
            </div>
            <div id="size-chart-modal-body" class="modal-body">
                <div id="size-chart-view">
    <div class="row">
                            <div class="col-sm-4 col-md-6  col-lg-12">
                <div class="wk-row-padding wk-border wk-font-size wk-scroll-vertical view-chart-title">
                    <p>All measurements are in inches</p>
                </div>
            </div>
            </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="wk-border wk-scroll-horizontal">
                <table class="table table-striped wk-table-margin">
                    <tbody>
                                                    <tr class="table-active">
                                <td class="wk-table-row-border"></td>
                                                                    <th class="wk-table-row-border wk-table-text-align">Chest</th>
                                                                    <th class="wk-table-row-border wk-table-text-align">Waist</th>
                                                                    <th class="wk-table-row-border wk-table-text-align">Hip</th>
                                                                    <th class="wk-table-row-border wk-table-text-align">Shoulder</th>
                                                            </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">S</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">36</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">32</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">32</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">14</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">M</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">38</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">34</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">34</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">14.5</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">L</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">40</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">36</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">36</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">15</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">XL</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">42</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">38</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">38</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">15.5</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">XXL</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">44</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">40</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">40</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">16</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">XXXL</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">6</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">42</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">42</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">16.5</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">4XL</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">48</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">44</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">44</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">17</td>
                                                                    </tr>
                                                            <tr>
                                    <th class="wk-table-row-border">5XL</th>
                                                                            <td class="wk-table-row-border wk-table-text-align">50</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">46</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">46</td>
                                                                            <td class="wk-table-row-border wk-table-text-align">17.5</td>
                                                                    </tr>
                                                                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</div>

   <script type="text/javascript" src="jquery.html"></script>
   <script type="text/javascript">


 $( document ).ready(function() {
        $('#close').on('click', function(){
        $('#my-size-chart-modal').modal('hide');
        $( '.modal-backdrop' ).remove();
        });

    });


   </script>
        <br>

</div>


  
  <div id="product-description-short-85" class="description-short" itemprop="description">
    <div id="result1"></div>
  </div>
  
  



	  <div class="product-prices">
    
      <div
        class="product-price h5 "
        itemprop="offers"
        itemscope
        itemtype="https://schema.org/Offer"
      >
        <link itemprop="availability" href="https://schema.org/InStock"/>
        <meta itemprop="priceCurrency" content="INR">

        <div class="current-price">
          
          <span itemprop="price" id="custom_product_price" content="4000">₹ <%=result[1][0].price%></span>

                  </div>

        
                  
      </div>
    
    
          
    
          

    
          

    
          

    

    <div class="tax-shipping-delivery-label">
              Tax included
            
      
                        </div>
  </div>



<div class="product-actions">
  
    <form action="/cart-handler1" method="post" class="">
      <input type="hidden" name="booking_id" value="<%=result[1][0].id%>">
      <input type="hidden" name="price" value="<%=result[1][0].price%>">
      <input type="hidden" name="oneprice" value="<%=result[1][0].price%>">

      <input type="hidden" name="categoryid" value="<%=result[1][0].price%>" id="product_customization_id">

      
        <div class="product-variants">
  
   
        <div class="clearfix product-variants-item">
      <span class="control-label">Size</span>
      
        <ul id="group_1">
                      <li class="input-container float-xs-left">
             
             
               
              <label>
                <input class="input-radio" id="attribute-no-custom" type="radio"  data-product-attribute="1"  name="size" value="S" checked="checked"  data-measurement-name="S">
                <span class="radio-label">S</span>
              </label>
              
            
      
                      <li class="input-container float-xs-left">
             
             
               
              <label>
                <input class="input-radio" id="attribute-no-custom" type="radio"  data-product-attribute="1" name="size" value="M">
                <span class="radio-label">M</span>
              </label>
              
            
      
                      <li class="input-container float-xs-left">
             
             
               
              <label>
                <input class="input-radio" id="attribute-no-custom" type="radio"  data-product-attribute="1" name="size" value="L">
                <span class="radio-label">L</span>
              </label>
              
            
      
                      <li class="input-container float-xs-left">
             
             
               
              <label>
                <input class="input-radio" id="attribute-no-custom" type="radio"  data-product-attribute="1" name="size" value="XL">
                <span class="radio-label">XL</span>
              </label>
              
            
      
                  </ul>
             <br>
	<div class="blockreassurance_product">

       <div > 
     <p class="block-title" style="color:;">FOR CUSTOMISATION  </p><br/><p class="pd-callwatsapp"> <i class="fa fa-whatsapp"  
     style="font-family: 'FontAwesome'; font-weight: normal;"></i>
&nbsp;&nbsp;Call or WhatsApp&nbsp;&nbsp;

      <a href="https://wa.me/919167860709" target="_blank" rel="noopener" class="watsp-number">9167860709</a></p>

    </div>
      </div>
            
       <a href="#" data-toggle="modal" data-target="#my-size-chart-modal" id='size-chart-button'>
              View Size Chart 
                                      </a>
    
   <br>
    <br> 
          </div>
        
</div>
 
        

      
              
<!-- bootstrap modal -->





<!-- bootstap modal end -->
      
        <section class="product-discounts">
  </section>
      

      
        <div class="product-add-to-cart">
 
      <span class="control-label">Quantity</span>

    
      <div class="product-quantity clearfix">
        <div class="qty clearfix">
          <input
            type="text"
            name="quantity"
            id="quantity_wanted"
            value="1"
            class="input-group"
            min="1"
            aria-label="Quantity"
          >
        </div>
        <div class="add">
          <button class="btn btn-primary add-to-cart addToCart" data-bs-toggle="modal" data-bs-target="#exampleModal"  type="button" 
          booking_id="<%=result[1][0].id%>" 
          price="<%=result[1][0].net_amount%>"
          categoryid = '<%=result[1][0].categoryid%>'
            '  
          >
            <span class="icon-btn-product"><i class="icomoon icon-cart"></i></span><span>Add to cart</span>
          </button>



          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title h6 text-sm-center" id="myModalLabel"><img class="material-icons" src="/images/check.png">Product successfully added to your shopping cart</h4>
                  <button type="button" class="close" data-bs-dismiss="modal"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 divide-right">
                          <div class="row">
                            <div class="col-md-5">
                              <img class="product-image img-fluid" src="/images/<%=result[1][0].image%>" alt="" title="" itemprop="image">
                            </div>
                            <div class="col-md-7">
                              <h6 class="h6 product-name"><%=result[1][0].name%></h6>
                              <p>₹<%=result[1][0].net_amount%></p>
                              <span><strong>Size</strong>: <span id="addedsize"></span></span>
                              <p><strong>Quantity:</strong>&nbsp;<span id="addedquantity"></span></p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="cart-content">
                        <p class="cart-products-count">There are <span id="newquantity"> </span> items in your cart.</p>
                        <p><strong>Total products:</strong>&nbsp;₹<span class="newprice"></span></p>
                            <p><strong>Total shipping:</strong>&nbsp;Free </p>
                            <p><strong>Total:</strong>&nbsp;₹<span class="newprice"></span> (tax incl.)</p>
                            <div class="cart-content-btn">
                              <button type="button" class="btn btn-dark" style="background-color: black;color: white;" data-dismiss="modal">Continue shopping</button>
                              <a href="/mycart" class="btn btn-dark" style="background-color: black;color: white;"><img  class="material-icons" src="/images/tick.png">proceed to checkout</a>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>

          <div class="leo-compare-wishlist-button">
           
            <% if(result[6][0]){ %>
              <div class="wishlist">
              <div class="dropdown leo-wishlist-button-dropdown">
                <button class="leo-wishlist-button btn-product dropdown-toggle show-list btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-id-wishlist="5" data-id-product="119" data-id-product-attribute="376">
                  <span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
                  <span class="leo-wishlist-bt-content">
                    <i class="icomoon icon-wishlist"></i>
                    <span class="btn-title">Add to wishlist</span>
                  </span>
                </button>
                <div class="dropdown-menu leo-list-wishlist leo-list-wishlist-119">
                


                  <% for(i=0;i<result[6].length;i++){ %>
                      <a href="#" class="dropdown-item list-group-item list-group-item-action wishlist-item" data-id-wishlist="<%=result[6][i].id%>" data-id-product="true" data-id-product-attribute="<%=result[6][i].id%>" data-bookingid = "<%=result[1][0].id%>" title="Add to Wishlist"><%=result[6][i].name%></a>			
                     <% } %>
                    </div>
              </div>
  <% } else { %>
    <div class="wishlist">
      <a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="66" data-id-product-attribute="222" title="Add to Wishlist">
        <span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
        <span class="leo-wishlist-bt-content">
          <i class="icomoon icon-wishlist"></i>
          <span class="btn-title">Add to wishlist</span>
        </span>
      </a>
    </div>




    <% } %>
        
</div>


                        
          </div> 
          
        </div>
        
      </div>
      <div class="clearfix"></div>
    
   
    
      <p class="product-minimal-quantity">
              </p>
    
  </div>
      
		<div class="">
         <a href="#" class="block-title product-detail-info detail-btn">Product Details <i class="fa fa-chevron-down"></i></a>
          <div id="product-detail-content" style="display:none;">
                        
          

  
          <div class="product-quantities product-in">
        <label class="label">In stock</label>
        <span data-stock="10" data-allow-oosp="0">10 Items</span>
      </div>
      

  
      

  
    <div class="product-out-of-stock">
      
    </div>
  
            <div class="product-description"><ul><li>Product Code: LP001</li>
<li>Dress Length: Front 43”, Back 48”</li>
<li>Sleeve Length: 17”</li>
<li>Fabric: Textured 100% Cotton</li>
<li>Straight collar with front open placket shirt dress</li>
<li>Yoke piping and box pleat at back</li>
<li>Hand block printed bodice</li>
<li>Wash care: Dry clean only</li>
<li>Model is 5.7”, She is wearing size ‘M’</li>
</ul></div>
  
      
            
      

  
      
                      </div>
      </div>
      
        <input class="product-refresh ps-hidden-by-js" name="refresh" type="submit" value="Refresh">
      
    </form>
  
</div>

  <div class="blockreassurance_product">
               <div>
            <span class="item-product">
                                                        <img src="/leffet.in/modules/blockreassurance/views/img/img_perso/freedom.png">
                                    &nbsp;
            </span>
                          <p class="block-title" style="color:#000000;">OPEN TO CUSTOMISATION*</p>
             
                    </div>
            <div>
            <span class="item-product">
                                                        <img src="/leffet.in/modules/blockreassurance/views/img/img_perso/timeless-classic-icon.png">
                                    &nbsp;
            </span>
                          <p class="block-title" style="color:#000000;">TIMELESS CLASSICS*</p>
             
                    </div>
            <div>
            <span class="item-product">
                                                        <img src="/leffet.in/modules/blockreassurance/views/img/img_perso/craftedfor-class-icon.png">
                                    &nbsp;
            </span>
                          <p class="block-title" style="color:#000000;">CRAFTED FOR CLASS*</p>
             
                    </div>
        <div class="clearfix"></div>
</div>

<div class="bootstrap">
	</div>

                            </div><div class="col-form_id-form_4666379129988496 col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12 col-sp-12">

	<div class="product-tabs tabs">
	  	<ul class="nav nav-tabs" role="tablist">
		    		    		    			   		    		    				<li class="nav-item">
	  <a class="nav-link leo-product-show-review-title " data-toggle="tab" href="#leo-product-show-review-content">Reviews</a>
	</li>


	  	</ul>

	  	<div class="tab-content" id="tab-content">
		   
		   	
		     	   		   	

		   	
		     	

		   			</div>
	</div>
   <hr/>
  <div class="col-md-12">
    <div class="col-md-4 mb-1">
      <img src="/leffet.in/img/eco.png" class="mr-1" alt="ECO FRIENDLY*" />
      ECO FRIENDLY*
    </div>
    <div class="col-md-4 mb-1">
      <img src="/leffet.in/img/hand-made.png" class="mr-1" alt="HAND MADE*" />
      HAND MADE*
    </div>
    <div class="col-md-4 mb-1">
      <img src="/leffet.in/img/made-in-india.png" class="mr-1" alt="MADE IN INDIA*" />
      MADE IN INDIA*
    </div>
  </div>

              <section class="product-accessories clearfix">
          <h3 class="h5 products-section-title">You might also like</h3>

          <div class="products"> 
            <div class="owl-row  product-default">
              <div id="category-products2">

<% for(i=0;i<result[2].length;i++){ %>
  <div class="item first">
                    
                                              
    <article class="product-miniature js-product-miniature" data-id-product="87" data-id-product-attribute="250" itemscope itemtype="http://schema.org/Product">
<div class="thumbnail-container">
<div class="product-image">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<a href="/product?id=<%=result[2][i].id%>" class="thumbnail product-thumbnail">
<img
class="img-fluid"
src = "/images/<%=result[2][i].image%>"
alt = "<%=result[2][0].name%>"
data-full-size-image-url = "/images/<%=result[2][i].image%>"
> 
<span class="product-additional" data-idproduct="87"></span>
</a>



<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->

<ul class="product-flags">
</ul>


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="wishlist">
<a class="leo-wishlist-button btn-product btn" href="#" data-id-wishlist="" data-id-product="87" data-id-product-attribute="250" title="Add to Wishlist">
<span class="leo-wishlist-bt-loading cssload-speeding-wheel"></span>
<span class="leo-wishlist-bt-content">
<i class="icomoon icon-wishlist"></i>
<span class="btn-title">Add to wishlist</span>
</span>
</a>
</div>


<div class="functional-buttons clearfix">
<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="quickview no-variants hidden-lg-down">
<a
href="#"
class="quick-view btn-product btn"
data-link-action="quickview"
>
<span class="leo-quickview-bt-loading cssload-speeding-wheel"></span>
<span class="leo-quickview-bt-content">
<i class="icomoon icon-preview"></i>
<span class="btn-title">Quick view</span>
</span>
</a>
</div>

<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->


<!-- @file modules\appagebuilder\views\templates\front\products\file_tpl -->
<div class="button-container cart">
<form action="/cart-handler1" method="post">
  <input type="hidden" name="booking_id" value="<%=result[2][i].id%>">
  <input type="hidden" name="price" value="<%=result[2][i].price%>">
  <input type="hidden" name="oneprice" value="<%=result[2][i].price%>">

  <input type="hidden" name="categoryid" value="<%=result[2][i].price%>" id="product_customization_id">
  <input type="hidden" name="quanity" value="1">
<button class="btn btn-primary btn-product add-to-cart addToCart leo-bt-cart leo-bt-cart_87"  
   booking_id="<%=result[2][i].id%>" 
  price="<%=result[2][i].net_amount%>"
  categoryid = '<%=result[2][i].categoryid%>' 
   data-button-action="add-to-cart" type="button">
<span class="leo-loading cssload-speeding-wheel"></span>
<span class="leo-bt-cart-content">
<i class="icomoon icon-cart"></i>
<span class="btn-title">Add to cart</span>
</span>
</button>

</form>
</div>


</div></div>
<div class="product-meta">
<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

<h3 class="h3 product-title" itemprop="name"><a href="/product?id=<%=result[2][i].id%>"><%=result[2][0].name%></a></h3>


<!-- @file modulesappagebuilderviewstemplatesfrontproductsfile_tpl -->

<div class="product-price-and-shipping ">




<span class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<span itemprop="priceCurrency" content="INR"></span><span itemprop="price" content="4000">₹<%=result[2][i].net_amount%></span>
</span>
        


</div>



<div class="product-description-short" itemprop="description"> <%=result[2][i].short_description%></div>
</div>
</div>
</article>

                      
</div>
<% } %>

                             
                 
                              </div>
            </div>
          </div>
        </section>
       
    

    <script type="text/javascript">
      products_list_functions.push(
        function(){
          $('#category-products2').owlCarousel({
                          direction:'ltr',
                        items : 4,
            itemsCustom : false,
            itemsDesktop : [1200, 4],
            itemsDesktopSmall : [992, 3],
            itemsTablet : [768, 2],
            itemsTabletSmall : false,
            itemsMobile : [480, 1],
            singleItem : false,         // true : show only 1 item
            itemsScaleUp : false,
            slideSpeed : 200,  //  change speed when drag and drop a item
            paginationSpeed :800, // change speed when go next page

            autoPlay : false,   // time to show each item
            stopOnHover : false,
            navigation : true,
            navigationText : ["&lsaquo;", "&rsaquo;"],

            scrollPerPage :true,
            responsive :true,
            
            pagination : false,
            paginationNumbers : false,
            
            addClassActive : true,
            
            mouseDrag : true,
            touchDrag : true,

          });
        }
      ); 
      $(document).on('click','.product-detail-info',function(e){
        e.preventDefault();
        $('#product-detail-content').toggle();
      });
    </script>

	    
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var MBG = GoogleAnalyticEnhancedECommerce;
            MBG.setCurrency('INR');
            MBG.addProductDetailView({"id":"85-210","name":"lp001","category":"all-collections","brand":"","variant":false,"type":"typical","position":"0","quantity":1,"list":"product","url":"https%3A%2F%2Fleffet.in%2Fall-collections%2F85-lp001.html","price":"\u20b94,000"});MBG.addProductClickByHttpReferal({"id":"85-210","name":"lp001","category":"all-collections","brand":"","variant":false,"type":"typical","position":"0","quantity":1,"list":"product","url":"https%3A%2F%2Fleffet.in%2Fall-collections%2F85-lp001.html","price":"\u20b94,000"});
        });
    </script>
    



                            </div></div>

	  <footer class="page-footer">
	    
	    	<!-- Footer content -->
	    
	  </footer>
	
</section>


  
    
  </div>


            
          </div>
                  </div>
              	
      </section>

<%- include ('./indexfooter.ejs') %> 


<script>

  $( document ).ready(function() {
     let msg = $('.msg').val()
     $.getJSON(`/product-description?msg=${msg}`,data=>{
      console.log(data[0].description)
       a(data)
    })
  });
  
   
  
  
    function a(data){
      let table = `<p>
   <p>${data[0].description}</p>
   </p>
        `
        $('#result').html(table)
        $('#result1').html(table)

    }
  
  
  
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script>

  $('.uploadImage').submit(function (e) {
    e.preventDefault();
    // let description = $("#editor").html().trim();
    // var title = $('#title').val(); 

    $(this).ajaxSubmit({
      //  data: {description: description},
      contentType: 'application/json',
      success: function (response) {
        alert('successfully')
      }
    });
    return false;
  });





  $('.addToCart').click(function(){
                            // alert('hi')
                            // id="<%=result[1][0].id%>" price="<%=result[1][0].net_amount%>" categoryid = '<%=result[1][0].categoryid%>' vendorid = '<%=result[1][0].vendorid%>' 
                            // let quantity = $('#userquantity').val()
                            let booking_id = $(this).attr('booking_id');
                            let price = $(this).attr('price');
                            let oneprice = $(this).attr('price');
                            let categoryid = $(this).attr('categoryid');
                            let size = $("input[name='size']:checked").val();
                            let quantity = $('#quantity_wanted').val()


                            let table = `<span>${size}</span>`
                            $('#addedsize').html(table)


                            let table1 = `<span>${quantity}</span>`
                            $('#addedquantity').html(table1)
                            
                            // let subcategoryid = $(this).attr('subcategoryid');
                            // let totalquantity = $(this).attr('totalquantity');/
                            // let categoryname = $(this).attr('categoryname')

                
                            // let vendorid = $(this).attr('vendorid');
                
                
                                price = price*quantity

                                // console.log()
                        
                        $.post('/cart-handler1',{booking_id,price,categoryid,oneprice,quantity,size},data=>{
                            // swal(categoryname, "Successfully added to cart", "success");
                            // alert('success')
                            console.log(data[0][0].counter)


                            let table3 = `<span>${data[0][0].counter}</span>`
                            $('#newquantity').html(table3)


                            let table4 = `<span>${data[1][0].counter}</span>`
                            $('.newprice').html(table4)

                            $('#exampleModal').modal('show');

                        })  
                      })
                
                
                
                       
                          

</script>

     