
    
    

<%- include ('./otherheader.ejs') %>


<style>
    @font-face {
  font-family: 'Bellerose Light:1.0';
  src: url("./fonts/Bellerose.ttf");
  /* font-family: "Sofia Pro";
  src: url("./fonts/sofiapro-light.otf"); */
  }
  @font-face {
  font-family: "Sofia Pro";
  src: url("./fonts/sofiapro-light.otf");
  }
  
  
  #exampleModal .modal-dialog {
  max-width: 1140px;
  width: 100%;
  margin: 100px auto;
  }
  .modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  }
  #exampleModal .modal-header {
  /* background: #4cbb6c; */
  background: #f3f3c7;
  border-radius: 0px;
  }
  #exampleModal-modal {
  color: #222222;
  }
  .modal-header {
  padding: 15px;
  }
  
  .close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  }
  button.close {
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
  -webkit-appearance: none;
  }
  .modal-header .close {
  margin-top: -2px;
  }
  #exampleModal .modal-title {
  font-weight: 600;
  /* color: #fff; */
  font-size: 18px;
  font-family: 'Bellerose Light:1.0';
  margin-left: 35%;
  }
  #exampleModal .modal-body {
  background: #fff;
  padding: 50px 30px;
  }
  
  .material-icons {
  font-family: "Material Icons";
  margin-right: 10px;
  font-weight: 400;
  font-style: normal;
  width:20px;
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  }
  #exampleModal .product-name {
  color: #222222;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Bellerose Light:1.0';
  }
  #exampleModal .divide-right {
  border-right: #acaaa6 1px solid;
  }
  #exampleModal .modal-body .divide-right span {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Sofia Pro";
  font-size: 14px;
  }
  #exampleModal .modal-body .divide-right p {
  color: #000;
  font-family: "Sofia Pro";
  font-size: 14px;
  }
  
  #exampleModal .cart-content {
  padding-left: 20px;
  font-family: "Sofia Pro";
  font-size: 14px;
  
  }
  #exampleModal .cart-products-count {
  font-size: 18px;
  font-family: "Sofia Pro";
  
  
  }
  #exampleModal .cart-content .btn {
  margin-bottom: 10px;
  padding: 15px;
  font-family: "Sofia Pro";
  font-size: 14px;
  
  }
  #exampleModal .cart-content button {
  margin-right: 5px;
  }
  .btn {
  position: relative;
  padding: 10px 35px;
  font-family: "Sofia Pro";
  border-radius: 0;
  text-transform: capitalize;
  border: none;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  }
  @media only screen and (max-width: 600px) {
  #exampleModal .modal-title {
    font-weight: 600;
    font-size: 18px;
    font-family: 'Bellerose Light:1.0';
    margin-left: 0%;
    text-align: center;
  }
  #exampleModal .divide-right {
    border-right: none;
  }
  #exampleModal .product-name {
    margin-top: 5%;
    color: #222222;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Bellerose Light:1.0';
  }
  #exampleModal .cart-content {
    padding-left: 0px;
    font-family: "Sofia Pro";
    font-size: 14px;
  
  }
  
  }
  
  
  
  </style>
        
<aside id="notifications">
  <div class="container">
    
    
    
      </div>
</aside>
      
      <section id="wrapper">
       
        <nav data-depth="3" class="breadcrumb hidden-sm-down">
  <div class="container container-large">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="https://leffet.in/">
                <span itemprop="name">Home</span>
              </a>
              <meta itemprop="position" content="1">
            </li>
          
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="/myaccount">
                <span itemprop="name">My Account</span>
              </a>
              <meta itemprop="position" content="2">
            </li>
          
                  
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
              <a itemprop="item" href="#">
                <span itemprop="name">My Wishlist</span>
              </a>
              <meta itemprop="position" content="3">
            </li>
          
              
    </ol>
  </div>
</nav>      
      

              
              <div class="container  ">
                
          <div class="row">
            

            
  <div id="content-wrapper" class="col-lg-12 col-xs-12">
    
    
	<section id="main">
		<div id="view_wishlist">
							<h2>Wishlist "<%=result[8][0].name%>"</h2>
								<p>
					Other wishlists of <%=result[3][0].firstname%> <%=result[3][0].lastname%> :
						
          <% for(i=0;i<result[7].length;i++) { %>
						<a href="/view-wishlist?id=<%=result[7][i].id%>" title="new" rel="nofollow"><%=result[7][i].name%></a>

						<% } %>				
									</p>
								<section id="products">

<% for(i=0;i<result[6].length;i++){ %>

					<div class="leo-wishlist-product products ">
																																					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 product-miniature js-product-miniature leo-wishlistproduct-item leo-wishlistproduct-item-9 product-117" data-id-product="117" data-id-product-attribute="372" itemscope itemtype="http://schema.org/Product">
									<div class="thumbnail-container clearfix">
										<div class="product-image">
											
											  <a href="/product?id=<%=result[6][i].booking_id%>&size=<%=result[6][i].size%>" target="_blank" class="thumbnail product-thumbnail">
												<img class="img-fluid"
												  src = "/images/<%=result[6][i].productimage%>"
												  alt = ""
												  data-full-size-image-url = "/images/<%=result[6][i].productimage%>"
												>
											  </a>
											

											
												<ul class="product-flags">
																									</ul>
											
										</div>
										<div class="product-meta">
											
												<h3 class="h3 product-title"  itemprop="name"><a href="/product?id=<%=result[6][i].booking_id%>&size=<%=result[6][i].size%>" target="_blank"><%=result[6][i].productname%></a></h3>
											
											
																									<div class="product-price-and-shipping">
																												
														<span itemprop="price" class="price">₹<%=result[6][i].productprice%></span>												
														
														
													</div>	  
																							
                                          <div class="size-attr-block">
                                            		
	<div class="dropdown leo-pro-attr-section">
	  <button class=" leo-bt-select-attr dropdownListAttrButton_117" type="button" data-toggle="" aria-haspopup="true" aria-expanded="false">
		Size - <%=result[6][i].size%>
	  </button>

	  <div class="dropdown-menu leo-dropdown-attr">
					<a class="dropdown-item leo-select-attr selected" href="#" data-id-product="117" data-id-attr="372" data-qty-attr="10" data-min-qty-attr="1">Size - S</a>
					<a class="dropdown-item leo-select-attr" href="#" data-id-product="117" data-id-attr="373" data-qty-attr="10" data-min-qty-attr="1">Size - M</a>
					<a class="dropdown-item leo-select-attr" href="#" data-id-product="117" data-id-attr="374" data-qty-attr="10" data-min-qty-attr="1">Size - L</a>
					<a class="dropdown-item leo-select-attr" href="#" data-id-product="117" data-id-attr="375" data-qty-attr="10" data-min-qty-attr="1">Size - XL</a>
				
	  </div>
	</div>


                                          </div>   
                                          

                                            <div class="product-input-area">
            								 
			

      <div class="product-quantity clearfix">

<div class="qty clearfix">
         <input
            type="text"
            name="qty"
            id="quantity_wanted[]"
            value="1"
            class="input-group leo_cart_quantity from-hook wishlist-quantity-spin"
            min="1"
            aria-label="Quantity"
          >

        </div>
	
</div>

 
                                              
                                            </div>
											

											<div class="product-add-to-cart">
											<div class="button-container cart">
		<input type="hidden" name="token" value="4c28ed65e35170fc38ffa6eb2355a58c">
		<input type="hidden" value="10" class="quantity_product quantity_product_117" name="quantity_product">
		<input type="hidden" value="1" class="minimal_quantity minimal_quantity_117" name="minimal_quantity">
		<input type="hidden" value="372" class="id_product_attribute id_product_attribute_117" name="id_product_attribute">
		<input type="hidden" value="117" class="id_product" name="id_product">
		<input type="hidden" name="id_customization" value="" class="product_customization_id">
		<input type="hidden" name="custom_attribute" value="" id="custom_attribute">	
		<input type="hidden" class="input-group form-control qty qty_product qty_product_117" id="qty" name="qty" data-min="1">
		  <button class="btn btn-primary btn-product add-to-cart leo-bt-cart leo-bt-cart_117 addToCart" data-button-action="add-to-cart" type="button" 
          data-bs-toggle="modal" data-bs-target="#exampleModal"
          booking_id="<%=result[6][i].booking_id%>" 
          price="<%=result[6][i].productprice%>"
          categoryid = '<%=result[6][i].productcategoryid%>' 
          productname = '<%=result[6][i].productname%>'
          imageurl='/images/<%=result[6][i].productimage%>'
          size = '<%=result[6][i].size%>' 
          totalquantity = '<%=result[6][i].productquantity%>'

          >
			<span class="leo-loading cssload-speeding-wheel"></span>
			<span class="leo-bt-cart-content">
				<i class="icomoon icon-cart"></i>
				<span class="btn-title">Add to cart</span>
			</span>
		</button>
		
</div>


										 
																																	</div>
											</div>
																			
									</div>
                                    											
								</div>
																		</div>
                                           <% } %>                             
                                                                        
				</section>
                
					</div>
	</section>

    
  </div>


            
          </div>
                  </div>
              	
      </section>



      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title h6 text-sm-center" id="myModalLabel"><img class="material-icons" src="/images/check.png">Product successfully added to your shopping cart</h4>
              <button type="button" class="close" data-bs-dismiss="modal"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 divide-right">
                      <div class="row">
                        <div class="col-md-5" id="addedimage">
                        </div>
                        <div class="col-md-7">
                          <h6 class="h6 product-name"><span id="addedname"></span></h6>
                          <p>₹<span id="addedamount"></span></p>
                          <span><strong>Size</strong>: <span id="addedsize"></span></span>
                          <p><strong>Quantity:</strong>&nbsp;<span id="addedquantity"></span></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="cart-content">
                    <p class="cart-products-count">There are <span id="newquantity"> </span> items in your cart.</p>
                    <p><strong>Total products:</strong>&nbsp;₹<span class="newprice"></span></p>
                        <p><strong>Total shipping:</strong>&nbsp;Free </p>
                        <p><strong>Total:</strong>&nbsp;₹<span class="newprice"></span> (tax incl.)</p>
                        <div class="cart-content-btn">
                          <button type="button" class="btn btn-dark" style="background-color: black;color: white;" data-dismiss="modal">Continue shopping</button>
                          <a href="/mycart" class="btn btn-dark" style="background-color: black;color: white;"><img  class="material-icons" src="/images/tick.png">proceed to checkout</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>

      <%- include ('./indexfooter.ejs') %> 
      <script>
      $('.addToCart').click(function(){
        // alert('hi')
        // id="<%=result[1][0].id%>" price="<%=result[1][0].net_amount%>" categoryid = '<%=result[1][0].categoryid%>' vendorid = '<%=result[1][0].vendorid%>' 
        // let quantity = $('#userquantity').val()
        let booking_id = $(this).attr('booking_id');
        let price = $(this).attr('price');
        let oneprice = $(this).attr('price');
        let categoryid = $(this).attr('categoryid');
        let size = $(this).attr('size');
        let imageurl = $(this).attr('imageurl');
        let quantity = $('.wishlist-quantity-spin').val()

        

        let totalquantity = $(this).attr('totalquantity')

    

        // let quantity = '1'


        let tableimage= ` <img class="product-image img-fluid" src="${imageurl}" alt="" title="" itemprop="image">
`
                            $('#addedimage').html(tableimage)
                            

                            let tablename= `<span>${name}</span>`
                            $('#addedname').html(tablename)

                            let tableprice= `<span>${price}</span>`
                            $('#addedamount').html(tableprice)

                            
                            let table = `<span>${size}</span>`
                            $('#addedsize').html(table)


                            let table1 = `<span>${quantity}</span>`
                            $('#addedquantity').html(table1)
                            
                            // let subcategoryid = $(this).attr('subcategoryid');
                            // let totalquantity = $(this).attr('totalquantity');/
                            // let categoryname = $(this).attr('categoryname')

                
                            // let vendorid = $(this).attr('vendorid');
                            if(totalquantity==0){
                           alert('Out of Stock')
                            }
                
                            else if((+quantity) > +(+totalquantity)){
									
									alert(`We have only ${totalquantity} stock availbale`)
								}
                else {
                
                                price = price*quantity

                                // console.log()
                        
                        $.post('/cart-handler1',{booking_id,price,categoryid,oneprice,quantity,size},data=>{
                            // swal(categoryname, "Successfully added to cart", "success");
                            console.log(data[0][0].counter)


                            let table3 = `<span>${data[0][0].counter}</span>`
                            $('#newquantity').html(table3)


                            let table4 = `<span>${data[1][0].counter}</span>`
                            $('.newprice').html(table4)

                            $('#exampleModal').modal('show');

                        })  
                }
                      })
                
  
  
  </script>
    